.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__left{
  flex: 0.4;
  min-width: 80px;
  height: 20px;
  background-color: white;
  color: gray;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.header__left > input{
  border: none;
  width: 100%;
  min-width: 30px;
}

.header__right{
  display: flex;
  align-items: center;
}

.header__right > h4{
  margin-left: 10px;
}

.user__photo{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

