*{
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/*@font-face {
  font-family: Gotham-Bold;
  src: url(/assets/fonts/Gotham-Font/Gotham-Bold.otf) format("opentype");

}*/


body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}